* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

/* Navbar component css starts from here */
nav {
  background-color: black;
  height: 60px;
  width: 100%;
}

.logo {
  color: white;
  font-size: 35px;
  line-height: 60px;
  padding: 0 60px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 10px;
}

.navLink {
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
}

.navLink:hover {
  color: red;
}

.cartCount {
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  margin: 0 5px;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 70px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width:952px) {
  .logo {
    font-size: 30px;
    padding-left: 30px;
  }

  .navLink {
    font-size: 16px;
  }

  .cartCount {
    font-size: 16px;
  }
}

@media (max-width:858px) {
  .checkbtn {
    display: flex;
    cursor: pointer;
    margin-top: 0.8rem;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  .navLink {
    font-size: 20px;
  }

  .navLink:hover {
    color: white;
  }

  .cartCount {
    display: inline-block;
    line-height: 60px;
  }

  #check:checked~ul {
    left: 0;
  }
}

/* Product component css starts from here */
/* img {
  height: 80px;
}

.card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); */


.productsWrapper {
  padding: 1rem 0.8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

@media (max-width: 1000px) {
  .productsWrapper {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
   
  }
}

/* Adjust grid for screens below 700px */
@media (max-width: 500px) {
  .productsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .add-to-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .add-to-cart-button{
    width: 100%;
  }
}
@media (max-width: 500px) {
  .productsWrapper {
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem 0;
  }
  .product-card{
    margin: 0 auto;
  }
}
.product-card {
  max-width: 20rem;
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.product-card a {
  display: block;
}

.product-image {
  padding: 2rem;
  text-align: center;
}

.product-image img {
  max-width: 100%;
  height: 120px;
}


.product-details {
  padding: 1rem 1.5rem;
  flex-grow: 1;
  /* Allow the details section to take remaining space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Align items to the bottom */
}


.product-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #2d3748;
}

.product-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2a4365;
}

.rating-stars {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.rating-stars svg {
  width: 1rem;
  height: 1rem;
  fill: #f59e0b;
  margin-right: 0.25rem;
}

.add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.add-to-cart-button {
  background-color: #4299e1;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  align-self: flex-end;
  /* Align to the right (bottom) */
}

.add-to-cart-button:hover {
  background-color: #3182ce;
}


/* Cart page css starts here... */
.cartWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cartCard {
  width: 80%;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px ;
  margin:1rem 0;
}

.cartCardThumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.cartCardContent {
  flex: 1;
  margin-left: 12px;
}

.cartCardTitle {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}

.cartCardPrice {
  font-size: 14px;
  color: #764abc;
}

.cartCardActions {
  display: flex;
  align-items: center;
}

.btn {
  border: none;
  outline: none;
  background: #764abc;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-right: 8px;
}

.btn:hover {
  background: #513282;
}
